##############################
#   Crap That No One Wants   #
##############################
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.suo
*.user
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
build/
*.tmp
*.log
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
publish/
*.Publish.xml
*.pubxml
csx
AppPackages/
sql/
*.Cache
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store


##############################
#     Crap You Can't Have    #
##############################
*.jcpm
*.ct
*.test
*.tda
*.proprietary
*.closedsource